.panel-default
{
  max-width: 500px;
  margin: auto;
}

.panel-default > .panel-heading
{
  background-image: none;
  background: #e89f02;
  color:#000000;
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
}

.panel-default > .panel-body
{
  background-image: none;
  background: #fcc111;
  color:#000000;
  font-family: Arial, Corbel, sans-serif;
  font-size:16px;
  font-weight:none;
  text-decoration:none;
  text-transform:capitalize;
  line-height:1.3em;
  position: relative;
}

.panel-default > .panel-footer
{
  background-image: none;
  background: #e89f02;
  color:#FFFFFF;
  padding: 10px 15px;
  border-bottom: 0px solid;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
}